# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:
!pip install sqlalchemy==1.4.16 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.6/7.6 MB 105.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for sqlalchemy (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 3.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 115.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.6/92.6 kB 7.0 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [4]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [6]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'pablodiez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.117.216/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [7]:
if not database_exists(engine.url):
    create_database(engine.url)

In [10]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql("SPACEXTBL",engine)

-1

In [11]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1060,-80.603956,28.608058,1
86,86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,13,B1058,-80.603956,28.608058,1
87,87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1,12,B1051,-80.603956,28.608058,1
88,88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1,12,B1060,-80.577366,28.561857,1
89,89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,1,8,B1062,-80.577366,28.561857,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [12]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT(LaunchSite)
            FROM SPACEXTBL
               """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [15]:
#Rellena la variable query con tu consulta
query = """ SELECT *
            FROM SPACEXTBL
            WHERE LaunchSite LIKE "CCS%" LIMIT 5
               """
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [18]:
query = """ SELECT SUM(PayloadMass) as bichista
            FROM SPACEXTBL
            WHERE CUSTOMERS="NASA (CRS)"
               """
df  = pd.read_sql(query, con = engine )
df

   bichista
0   47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [19]:
query = """ SELECT AVG(PayloadMass) as bichista
            FROM SPACEXTBL
            WHERE SERIAL LIKE "B1%"
               """
df  = pd.read_sql(query, con = engine )
df

      bichista
0  6250.502765

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [20]:
query = """ SELECT min(DATE)
            FROM SPACEXTBL
            WHERE LandingOutcome LIKE "TRUE RTLS"
               """
df  = pd.read_sql(query, con = engine )
df

    min(DATE)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [23]:
query = """ SELECT SERIAL
            FROM SPACEXTBL
            WHERE LandingOutcome= "TRUE ASDS" AND PayloadMass BETWEEN 4000 and 6000
               """
df  = pd.read_sql(query, con = engine )
df

  SERIAL
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1046
6  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [25]:
query = """ SELECT COUNT(FlightNumber) as jeje
            FROM SPACEXTBL
            GROUP BY Class
               """
df  = pd.read_sql(query, con = engine )
df

   jeje
0    30
1    60

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [47]:
query = """ SELECT Serial ,PayloadMass as jeje
            FROM SPACEXTBL
            
            WHERE PayloadMass=(SELECT max(PayloadMass) FROM SPACEXTBL)
                """
df  = pd.read_sql(query, con = engine)
df

   Serial     jeje
0   B1048  15600.0
1   B1049  15600.0
2   B1051  15600.0
3   B1056  15600.0
4   B1048  15600.0
5   B1051  15600.0
6   B1049  15600.0
7   B1059  15600.0
8   B1049  15600.0
9   B1060  15600.0
10  B1058  15600.0
11  B1051  15600.0
12  B1060  15600.0

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [48]:
query = """ SELECT LandingOutcome,Serial as jeje, LaunchSite
            FROM SPACEXTBL
            WHERE Class=0 and YEAR(Date)=2015
                """
df  = pd.read_sql(query, con = engine)
df

  LandingOutcome   jeje    LaunchSite
0     False ASDS  B1012  CCSFS SLC 40
1     False ASDS  B1015  CCSFS SLC 40
2      None None  B1016  CCSFS SLC 40
3      None ASDS  B1018  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [46]:
query = """ SELECT LandingOutcome,count(FlightNumber) as bichista
            FROM SPACEXTBL
            WHERE cast(DATE as date) BETWEEN "2010-06-04" AND "2017-03-20"
            GROUP BY LandingOutcome
            ORDER BY bichista DESC
                """
df  = pd.read_sql(query, con = engine)
df

  LandingOutcome  bichista
0      None None         9
1      True ASDS         5
2     False ASDS         4
3     True Ocean         3
4      True RTLS         3
5    False Ocean         2
6      None ASDS         2